* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  display: inline-block;
}
body {
  font-family: "Poppins", sans-serif;
}
/* nav start */
#nav {
  background-color: #1c1e53;
  height: 80px;
  padding-top: 30px;
  padding-bottom: 36px;
  z-index: 99;
}
#nav img {
  margin-right: 25%;
}
#nav button{
  background-color: #1c1e86;
  box-shadow: none;
}
#nav ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #bbbbcb;
  margin: 32.04px 0 30.05px 11px;
}
#nav ul li:first-child a {
  margin-left: 0;
}
#nav ul li:last-child a {
  width: 185px;
  height: 60px;
  line-height: 40px;
  text-align: center;
  color: white;
  margin: 25px 0 16px 48px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
  -webkit-border-radius: 41px;
  -moz-border-radius: 41px;
  -ms-border-radius: 41px;
  -o-border-radius: 41px;
}
#nav ul li a:hover {
  color: white;
}
@media (max-width:991px){
  #nav ul li{
    text-align: center;
    padding-left: 75%;
  }
  #nav ul li a{
    margin: 0;
    color: white;
    background-color: #1c1e59;
  }
  #nav ul li:last-child a{
    width: 100%;
    height: 100%;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    line-height: normal;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
  #nav ul li:last-child a:hover{
    color: white;
  }
}
/* nav end */

/* faq start */
#faq .main{
  padding: 96px 0;
  margin-bottom: 96px;
  background-color: #F4F6FC;
}
#faq h2{
  font-size: 16px;
  font-weight: 500;
  color: #282938;
  opacity: 0.7;
}
#faq h3{
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  margin: 4px 0 24px 0;
}
#faq h4{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  margin-bottom: 32px;
}
#faq ul li{
  padding-right: 32px;  
}
@media (max-width:991px){
  #faq h3{
    font-size: 42px;
  }
  #faq ul li{
    padding-right: 0;  
  }
}
#faq ul li:last-child{
  padding-right: 0;
}
#faq ul li a{
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: #282938;
  opacity: 0.7;
  margin-bottom: 48px;
}
#faq ul li:hover a{
  color: #2405F2;
  opacity: 1;
}
#faq .box{
  padding-bottom: 64px;
}
#faq h5{
  font-size: 38px;
  font-weight: 600;
  color: #282938;
  margin: 24px 0 12px 0 ;
}
#faq p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; 
  color: #282938;
  opacity: 0.7;
}
#faq h6 a{
  font-size: 16px;
  font-weight: 500;
  color: #282938;
}
#faq h6 a img{
  padding-left: 16px;
}
/* faq end */

/* bottom start */
#bottom{
  padding: 32px 0 128px 0;
}
#bottom h2{
  font-size: 48px;
  font-weight: 600;
  color: #282938;
}
#bottom h3{
  font-size: 16px;
  font-weight: 500;
  color: #282938;
  opacity: 0.7;
}
#bottom h3:nth-child(3){
  margin: 20px 0 0 0;
}
#bottom button{
  width: 230px;
  height: 64px;
  border: none;
  background-color: #FCD980;
  margin: 40px 0 0 0;
  border-radius: 41px;
  -webkit-border-radius: 41px;
  -moz-border-radius: 41px;
  -ms-border-radius: 41px;
  -o-border-radius: 41px;
}
#bottom button a{
  font-size: 18px;
  font-weight: 600;
  color: #1B1C2B;
}
/* bottom end */

/* footer start */
#footer {
  background-color: #1c1e53;
  padding: 96px 0 0 0;
}
#footer p {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #fff;
  opacity: 0.8;
}
#footer h2 {
  font-size: 18px;
  font-weight: 500;
  color: #282938;
  padding: 18px 0 0 37px;
}
#footer h3 {
  font-size: 16px;
  font-weight: 400;
  color: #282938;
  padding: 1px 0 16px 37px;
  opacity: 0.8;
}
#footer h4 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 14px;
}
#footer img {
  margin: 28px 26.67px 0 0;
}
#footer img:first-child {
  margin: 0;
  margin-bottom: 22px;
}
#footer_end {
  padding: 32px 0;
}
#footer_end h5 a{
  font-size: 16px;
  font-weight: 500;
  color: #282938;
}
#footer_end ul li {
  margin-right: 32px;
}
#footer_end ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #282938;
}
#footer #footer_c{
  background:  #fcd980;
  margin-top: 86px;
}
@media (max-width:991px){
  #footer{
    text-align: center;
    padding: 24px 0;
  }
  #footer img{
    margin-bottom: 25px;
  }
  #footer_end{
    padding: 12px 0 0 0;
    text-align: center;
  }
  #footer_end h5{
  font-size: 14px;
  }
  #footer_end ul li{
    margin-right: 7px;
  }
  #footer #footer_c{
    margin-top:0;
  }
  #footer h2,#footer h3{
    padding: 7px 0 10px 0;
    line-height: 1;
    margin: 0;
  }
  #footer p{
    font-size: 15px;
  }
}
/* footer end */
